#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.text-editor {
opacity: 1;
border-radius: 18px;
border-width: 1px;

}

.container {
  max-width: 568px; /* or whatever width you want */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.author-name {
  font-family: 'Inter', sans-serif;
  font-weight: 600;       /* 600 = Semi Bold */
  font-size: 13px;
  line-height: 100%;      /* same as 1 */
  letter-spacing: 0;
  color: black;
}
.date-time {
  font-family: 'Inter', sans-serif;
  font-weight: 500;       /* 600 = Semi Bold */
  font-size: 12px;
  line-height: 100%;      /* same as 1 */
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.37);
  margin-top: 4px
}

.content-text {
  font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
leading-trim: NONE;
line-height: 21px;
letter-spacing: 0%;
margin-top: 12px

}
